{% extends 'base.html.twig' %}

{% block title %}Coverage index{% endblock %}

{% block body %}
    <h1>Coverage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Label</th>
                <th>Crée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coverage in coverages %}
            <tr>
                <td>{{ coverage.id }}</td>
                <td>{{ coverage.label }}</td>
                <td>{{ coverage.createdAt ? coverage.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ coverage.updatedAt ? coverage.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_coverage_show', {'id': coverage.id}) }}">show</a>
                    <a href="{{ path('app_coverage_edit', {'id': coverage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coverage_new') }}">Create new</a>
{% endblock %}
