{% extends 'base.html.twig' %}

{% block title %}Coverage{% endblock %}

{% block body %}
    <h1>Coverage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ coverage.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ coverage.label }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ coverage.createdAt ? coverage.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dernière mise à jour le</th>
                <td>{{ coverage.updatedAt ? coverage.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_coverage_index') }}">back to list</a>

    <a href="{{ path('app_coverage_edit', {'id': coverage.id}) }}">edit</a>

    {{ include('coverage/_delete_form.html.twig') }}
{% endblock %}
