{% extends 'base.html.twig' %}

{% block title %}Water index{% endblock %}

{% block body %}
    <h1>Water index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for water in waters %}
            <tr>
                <td>{{ water.id }}</td>
                <td>{{ water.label }}</td>
                <td>{{ water.createdAt ? water.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ water.updatedAt ? water.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_water_show', {'id': water.id}) }}">show</a>
                    <a href="{{ path('app_water_edit', {'id': water.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_water_new') }}">Create new</a>
{% endblock %}
