{% extends 'base.html.twig' %}

{% block title %}Water{% endblock %}

{% block body %}
    <h1>Water</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ water.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ water.label }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ water.createdAt ? water.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ water.updatedAt ? water.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_water_index') }}">back to list</a>

    <a href="{{ path('app_water_edit', {'id': water.id}) }}">edit</a>

    {{ include('water/_delete_form.html.twig') }}
{% endblock %}
