{% extends 'base.html.twig' %}

{% block title %}Utilisateurs / Profil{% endblock %}

{% block body %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Profil</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
            <li class="breadcrumb-item active">Utilisateurs</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
           <div id="printableArea">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Listes</h5>
                <table class="table datatable table-striped table table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Email</th>
                      <th>Rôles</th>
                      <th>Numéro de téléphone</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                      <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                        <td><h6>{{ user.getRoles()|join(', ') }}</h6></td>
                        <td>{{ user.phone }}</td>
                        <td>
                          <a href="{{ path('app_profile_edit', {'id': user.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-2"> Modifier</a>
                          {# <a href="{{ path('app_profile_delete', {'id': user.id}) }}">Supprimer</a> #}
                        </td>
                      </tr>
                    {% else %}
                      <tr>
                        <td colspan="8">Aucun enregistrement trouvé</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
              <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div><!-- End Card with header and footer -->

           </div>
          </div>
        </div>
      </section>

    </main><!-- End #main -->
  {% endif %}
{% endblock %}