{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Page d'accueil</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a>
          </li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Total Birds Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Total d'espèces uniques observées</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-twitter-fill" style="color: #2eca6a;"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ totalUniqueSpeciesCount }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Total Birds Card -->

            <!-- Total Unique Species Card -->
            {# <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Total d'espèces uniques observées</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-stack-line" style="color: #ffc107;"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ totalUniqueSpeciesCount }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Total Unique Species Card --> #}

            <!-- Total Agents Card -->
            {# <div class="col-xxl-4 col-md-6">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Total d'agents</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-user-line" style="color: #4154f1;"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ totalAgentsCount }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Total Agents Card --> #}

            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ recentCampaign.campaignName }} <span>/ Aujourd'hui</span></h5>
                  
                  <!-- Column Chart -->
                  <div id="columnChart"></div>

                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#columnChart"), {
                          series: [{
                            name: 'Total des Oiseaux Comptés',
                            data: {{ totalCountsSite|json_encode|raw }},
                          }, {
                            name: 'Total d\'espèces d\'oiseaux uniques observées',
                            data: {{ totalUniqueSpecies|json_encode|raw }}
                          }
                          ],
                          chart: {
                            type: 'bar',
                            height: 350
                          },
                          plotOptions: {
                            bar: {
                              horizontal: false,
                              columnWidth: '55%',
                              endingShape: 'rounded'
                            },
                          },
                          dataLabels: {
                            enabled: false
                          },
                          stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                          },
                          xaxis: {
                            categories: {{ siteNames|json_encode|raw }},
                          },
                          yaxis: {
                            title: {
                              text: 'Total des oiseaux comptés'
                            }
                          },
                          fill: {
                            opacity: 1
                          },
                          tooltip: {
                            y: {
                              formatter: function(val) {
                                return val + " oiseaux"
                              }
                            }
                          }
                        }).render();
                      });
                    </script>
                    <!-- End Column Chart -->
                <div>
              <div>
            <div>

            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Rapports <span>/ Aujourd'hui</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'Total d\'oiseaux',
                          data: {{ totalCounts|json_encode|raw }},
                        }, {
                          name: 'Total d\'espèces d\'oiseaux uniques observées',
                          data: {{ totalUniqueSpecies|json_encode|raw }}
                        }, 
                        {# {
                          name: 'Total d\'agents',
                          data: {{ totalAgents|json_encode|raw }}
                        },  #}
                        {
                          name: 'Total de collectes',
                          data: {{ totalCollects|json_encode|raw }}
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: { show: false },
                        },
                        markers: { size: 4 },
                        colors: ['#4154f1', '#0dcaf0', '#ffc107'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: { enabled: false },
                        stroke: { curve: 'smooth', width: 2 },
                        xaxis: {
                          categories: {{ categories|json_encode|raw }},
                          title: {
                            text: 'Date de fin de campagne',
                            style: { fontSize: '14px', fontWeight: 'bold', color: '#666' }
                          }
                        },
                        tooltip: { x: { format: 'dd/MM/yy' } }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->
                </div>
              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Campagnes récentes <span>| Aujourd'hui</span></h5>
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Campagne de comptage</th>
                        <th scope="col">Nombre de sites impliqués</th>
                        <th scope="col">Statut</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for campaign in campaigns %}
                        <tr>
                          <th scope="row"><a href="#">{{ loop.index }}</a></th>
                          <td>{{ campaign.endDate ? campaign.endDate|date('d-m-Y H:i') : '' }}</td>
                          <td><a href="{{ path('app_counting_campaign_show', {'id': campaign.id}) }}" class="text-primary">{{ campaign.campaignName }}</a></td>
                          <td>{{ campaign.siteAgentsGroups|length }}</td>
                          <td>
                            {% set status_classes = {
                                1: 'primary',   
                                2: 'info',      
                                3: 'success',   
                                4: 'light', 
                                5: 'warning',    
                                6: 'secondary',   
                                7: 'dark'       
                            } %}
                            <div class="badge bg-{{ status_classes[campaign.campaignStatus.id] ?? 'secondary' }}">
                              {{ campaign.campaignStatus }}
                            </div>
                          </td>
                        </tr>
                      {% else %}
                        <tr><td colspan="5">Aucun enregistrement trouvé</td></tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Statistiques par site</h5>
              <div id="siteChart" style="height: 400px;"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  {# const siteData = {{ totalCountsPerSite|json_encode|raw }}; #}
                  const siteNames = Object.keys(siteData);
                  const siteCounts = Object.values(siteData);

                  const option = {
                    title: {
                      text: 'Répartition des oiseaux par site',
                      subtext: 'Total d\'oiseaux',
                      left: 'center'
                    },
                    tooltip: { trigger: 'item' },
                    legend: { orient: 'vertical', left: 'left' },
                    series: [{
                      name: 'Sites',
                      type: 'pie',
                      radius: '50%',
                      data: siteNames.map((name, index) => ({ value: siteCounts[index], name })),
                      emphasis: {
                        itemStyle: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                      }
                    }]
                  };

                  const myChart = echarts.init(document.getElementById('siteChart'));
                  myChart.setOption(option);
                });
              </script>
            </div>
          </div>
        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
