<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Inscrire{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{{ asset('/img/favicon.png') }}" rel="icon">
        <link href="{{ asset('/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/vendor/quill/quill.snow.css') }}" rel="stylesheet">
        <link href="{{ asset('/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
        <link href="{{ asset('/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ asset('/vendor/simple-datatables/style.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
    {% block body %}

        <main>
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex justify-content-center py-4">
                                {% if logo and logo.image and logo.image.imageFilename %}
                                    <img src="{{ vich_uploader_asset(logo.image, 'imageFile') }}" alt="logo" class="imgReg">
                                {% else %}
                                    <p>Aucune image disponible</p>
                                {% endif %}
                                {# <span class="d-none d-lg-block">G.C.C.O.M</span> #}
                            </div><!-- End Logo -->
                            <h1 id="dynamic-text" class="d-none d-lg-block"></h1>
                        </div>

                        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex justify-content-center py-4">
                                <a href="{{ path('home') }}" class="logo d-flex align-items-center w-auto">
                                    {% if logo and logo.image and logo.image.imageFilename %}
                                        <img src="{{ vich_uploader_asset(logo.image, 'imageFile') }}" alt="logo" class="imgLogo">
                                    {% else %}
                                        <p>Aucune image disponible</p>
                                    {% endif %}
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Créer un Compte</h5>
                                        <p class="text-center small">Entrer vos informations personnelles pour créer un compte</p>
                                        <p class="d-flex justify-content-end my-4"><span class="requiredField">*</span><span class="small">champs obligatoires</span></p>
                                    </div>

                                    {% if form_errors(registrationForm) %}
                                        <div class="alert alert-danger">
                                            {{ form_errors(registrationForm) }}
                                        </div>
                                    {% endif %}

                                    {{ form_start(registrationForm) }}
                                    <div class="col-12">
                                        {{ form_label(registrationForm.name, 'Nom') }}<span class="requiredField">*</span>
                                        {{ form_row(registrationForm.name) }}
                                        <div class="invalid-feedback">Veuillez entrer votre nom !</div>
                                    </div>

                                    <div class="col-12">
                                        {{ form_label(registrationForm.lastName, 'Prénom') }}<span class="requiredField">*</span>
                                        {{ form_row(registrationForm.lastName) }}
                                        <div class="invalid-feedback">Veuillez entrer votre prénom !</div>
                                    </div>

                                    <div class="col-12">
                                        {{ form_label(registrationForm.phone, 'Numéro de téléphone') }}<span class="requiredField">*</span>
                                        {{ form_row(registrationForm.phone) }}
                                        <div class="invalid-feedback">Veuillez entrer votre numéro de téléphone !</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">E-mail<span class="requiredField">*</span></label>
                                        <div class="input-group has-validation mb-3">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            {{ form_widget(registrationForm.email) }}
                                            <div class="invalid-feedback">S'il vous plaît, entrez une adresse e-mail valide !</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}<span class="requiredField">*</span>
                                        {{ form_row(registrationForm.plainPassword) }}
                                        <div class="invalid-feedback">S'il vous plaît, entrez votre mot de passe !</div>
                                    </div>

                                    <div class="col-12">
                                        {{ form_label(registrationForm.passwordConfirm, 'Confirmez votre mot de passe') }}<span class="requiredField">*</span>
                                        {{ form_row(registrationForm.passwordConfirm) }}
                                        <div class="invalid-feedback">S'il vous plaît, entrez votre mot de passe !</div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            {{ form_row(registrationForm.agreeTerms) }}
                                            {# <label class="form-check-label" for="acceptTerms"> J'accepte <a href="#">les termes et conditions </a></label> #}
                                            <div class="invalid-feedback">Il faut accepter avant de soumettre.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Inscrire</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0 my-4">Vous avez déjà un compte ? <a href="{{ path('app_login')}}">Se connecter</a></p>
                                    </div>
                                    {{ form_end(registrationForm) }}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="{{ asset('/vendor/apexcharts/apexcharts.min.js') }}"></script>
        <script src="{{ asset('/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('/vendor/chart.js/chart.umd.js') }}"></script>
        <script src="{{ asset('/vendor/echarts/echarts.min.js') }}"></script>
        <script src="{{ asset('/vendor/quill/quill.js') }}"></script>
        <script src="{{ asset('/vendor/simple-datatables/simple-datatables.js') }}"></script>
        <script src="{{ asset('/vendor/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('/vendor/php-email-form/validate.js') }}"></script>

        <!-- Template Main JS File -->
        <script src="{{ asset('/js/main.js') }}"></script>
        <script src="js/complement2.js"></script>
    {% endblock %}
    </body>

</html>