{# {% for type, messages in app.flashes %}
    <div class="alert alert-{{ type}}">
        {{ messages | join('. ') }}
    </div>
{% endfor %} #}
{% for type, messages in app.flashes %}
    <div id="flash-message-{{ loop.index }}" class="alert alert-{{ type }} alertFlash">
        {{ messages | join('. ') }}
    </div>
{% endfor %}
