{% extends 'base.html.twig' %}

{% block title %}Modification de la campagne de comptage{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Modification de la campagne</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_counting_campaign_index') }}">Gestion des campagnes</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modifier: {{ counting_campaign.campaignName }}</h5>

                        {{ include('counting_campaign/_form.html.twig', {'button_label': ' Mise à jour'}) }}<br/>
                        
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-sm btn-outline-secondary" title="Retour vers consultation des campagnes">Retour</a>
                            <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une campagne</a>
                            <a href="{{ path('app_site_collection_new') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill mx-1"> Créer un site de collecte</a>
                            <a href="{{ path('app_agents_group_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted"> Créer un groupe</a>
                            {{ include('counting_campaign/_delete_form.html.twig') }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
