{% extends 'base.html.twig' %}

{% block title %}Consultation des campagnes{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Consultation des campagnes</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item active">Gestion des campagnes</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listes</h5>

              <div id="printableArea">
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Campagne</th>
                      <th>Date de début</th>
                      <th>Date de fin</th>
                      <th>Etat</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {# * $campaignStatuses[0] -> "Planifiée"
                    * $campaignStatuses[1] -> "En cours"
                    * $campaignStatuses[2] -> "Terminée"
                    * $campaignStatuses[3] -> "Clôturée"
                    * $campaignStatuses[4] -> "Erreur"
                    * $campaignStatuses[5] -> "Suspendue"
                    * $campaignStatuses[6] -> "Annulée #}
                    {% set status_classes = {
                        0: 'primary',   
                        1: 'info',      
                        2: 'light',   
                        3: 'success', 
                        4: 'warning',    
                        5: 'secondary',   
                        6: 'dark'       
                    } %}
                    {% for counting_campaign in counting_campaigns %}
                      <tr>
                        <td>{{ counting_campaign.id }}</td>
                        <td><a href="{{ path('app_counting_campaign_show', {'id': counting_campaign.id}) }}" title="Détail">{{ counting_campaign.campaignName }}</a></td>
                        <td>{{ counting_campaign.startDate ? counting_campaign.startDate|date('d-m-Y') : '' }}</td>
                        <td>{{ counting_campaign.endDate ? counting_campaign.endDate|date('d-m-Y') : '' }}</td>
                        <td>
                          {# Utiliser le label du statut pour obtenir l'index depuis statusIndexMap #}
                          {% set campaignStatusIndex = statusIndexMap[counting_campaign.campaignStatus.id] %}
                          <div class="badge bg-{{ status_classes[campaignStatusIndex] ?? 'secondary' }}">
                              <i class="bi bi-circle-fill"></i>
                              {{ counting_campaign.campaignStatus.label }}
                          </div>
                        </td>
                        <td>
                          <div class="d-flex justify-content-end">
                            {% import 'macros/btn_actions_macros.html.twig' as macros %}
                            {{ macros.action_buttons('app_counting_campaign_new','app_counting_campaign_show', 'app_counting_campaign_edit', 'counting_campaign/_delete_form.html.twig', counting_campaign, app.request.attributes.get('_route'), true) }}
                            {{ include('counting_campaign/_delete_form.html.twig') }}
                          </div>
                        </td>
                      </tr>
                    {% else %}
                      <tr>
                        <td colspan="7">Aucun enregistrement trouvé</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <div class="d-flex justify-content-end">
                  <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-2"> Créer une campagne</a>
                  <a href="{{ path('app_collected_data_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task mx-2"> Consultation des collectes</a>
                  <a href="{{ path('app_environmental_conditions_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task mx-2"> Consultation des conditions</a>
                  <a href="{{ path('app_site_collection_new') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill mx-2"> Créer un site de collecte</a>
              </div>
              <div>
                <button id="printButton" class="btn btn-sm btn-secondary bi bi-printer" title="Imprimer"></button>
                <button id="exportCSVButton" class="btn btn-sm btn-secondary bi bi-folder" title="Exporter en CSV"></button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
</main><!-- End #main -->
{% endblock %}
