{% extends 'base.html.twig' %}

{% block title %}Campagne de comptage{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Détail d'une campagne de comptage</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_counting_campaign_index') }}">Gestion des campagnes</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-lg-12">

                <div class="card">
                  <div id="printableArea">
                    <div class="card-body">
                        <h5 class="card-title">Détail</h5>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nome de la campagne</th>
                                    <td>{{ counting_campaign.campaignName }}</td>
                                </tr>
                                <tr>
                                    <th>Etat de la campagne</th>
                                    <td>
                                        {% if counting_campaign.campaignStatus.label == 'En attente' %}
                                            <div class="btn-action btn btn-info" role="status">
                                            <i class="bi bi-circle-fill"></i>
                                            {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus.label == 'En cours' %}
                                            <div class="btn btn-primary" role="status">
                                                <i class="bi bi-circle-fill"></i>
                                                {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus.label == 'Terminé' %}
                                            <div class="btn btn-success">
                                                <i class="bi bi-check-circle"> </i>
                                            </div>
                                            {{ counting_campaign.campaignStatus.label }}
                                            {% elseif counting_campaign.campaignStatus.label == 'Annulé' %}
                                            <div class="btn btn-dark">
                                                <i class="bi bi-x-lg"> </i>
                                                {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus.label == 'Erreur' %}
                                            <div class="btn btn-warning">
                                                <i class="bi bi-exclamation-triangle"> </i>
                                                {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus.label == 'Validé' %}
                                            <div class="btn btn-success">
                                                <i class="bi bi-check-circle"> </i>
                                                {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus.label == 'Rejeté' %}
                                            <div class="btn btn-danger">
                                                <i class="bi bi-exclamation-triangle"> </i>
                                                {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus.label == 'Suspens' %}
                                            <div class="btn btn-secondary" role="status">
                                                <i class="bi bi-circle-fill"></i>
                                                {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                            {% else %} 
                                            {{ counting_campaign.campaignStatus.label }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Date de début</th>
                                    <td>{{ counting_campaign.startDate ? counting_campaign.startDate|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Date de fin</th>
                                    <td>{{ counting_campaign.endDate ? counting_campaign.endDate|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Crée le</th>
                                    <td>{{ counting_campaign.createdAt ? counting_campaign.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Dernière mise à jour le</th>
                                    <td>{{ counting_campaign.updatedAt ? counting_campaign.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Les sites du campagne</th>
                                    <td>
                                        <ol>
                                            {% set sorted_sites = counting_campaign.siteCollection|sort((a, b) => a.siteName <=> b.siteName) %}

                                            {% for site in sorted_sites %}
                                                <li>
                                                    {{ site.siteName }} ({{ site.region }})
                                                </li>
                                            {% else %}
                                                <p colspan="7">Aucune enregistrement trouvé</p>
                                            {% endfor %}
                                        </ol>
                                    </td>
                                </tr>
                            </tbody>
                        </table>                        
                    </div>
                  </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 d-flex justtify-content-end">
                                <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-offline-light btn-sm bi bi-arrow-return-left"> retour vers la liste</a>
                                <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une nouvelle campagne</a>
                                <a href="{{ path('app_counting_campaign_edit', {'id': counting_campaign.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-1"> Modifier</a>
                                 {{ include('counting_campaign/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <div class="alert border-light alert-dismissible fade show" role="alert">
      <!-- Card with header and footer -->
      <div class="card">
        <div class="card-footer">
          <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
          <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div><!-- End Card with header and footer -->
    </div>
</main>
{% endblock %}
