{% extends 'base.html.twig' %}

{% block title %}Campagne de comptage{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Détail d'une campagne de comptage</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_counting_campaign_index') }}">Gestion des campagnes</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                    <div class="card-body">
                        {# <div id="printableArea"> #}
                            <h5 class="card-title">Détail</h5>
                            <div class="text-end my-4">
                                {% set currentDate = "now"|date('Y-m-d H:i:s') %}
                                {% if counting_campaign.startDate|date('Y-m-d H:i:s') > currentDate %}
                                    <code>Vous ne pouvez pas commencer à collecter avant : {{ counting_campaign.startDate ? counting_campaign.startDate|date('d-m-Y H:i:s') : '' }}</code>
                                {% endif %}
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Nom de la campagne</th>
                                        <td>{{ counting_campaign.campaignName }}</td>
                                    </tr>
                                    <tr>
                                        <th>État de la campagne</th>
                                        <td>
                                            {% set status_classes = {
                                                0: 'primary',   
                                                1: 'info',      
                                                2: 'light',   
                                                3: 'success', 
                                                4: 'warning',    
                                                5: 'secondary',   
                                                6: 'dark'       
                                            } %}
                                            {# Utiliser l'index du statut pour récupérer la classe CSS correspondante #}
                                            {% set campaignStatusIndex = statusIndexMap[counting_campaign.campaignStatus.id] %}
                                            <div class="badge bg-{{ status_classes[campaignStatusIndex] ?? 'secondary' }}">
                                                <i class="bi bi-circle-fill"></i>
                                                {{ counting_campaign.campaignStatus.label }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de début</th>
                                        <td>{{ counting_campaign.startDate ? counting_campaign.startDate|date('d-m-Y H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date de fin</th>
                                        <td>{{ counting_campaign.endDate ? counting_campaign.endDate|date('d-m-Y H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Crée le</th>
                                        <td>{{ counting_campaign.createdAt ? counting_campaign.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Dernière mise à jour le</th>
                                        <td>{{ counting_campaign.updatedAt ? counting_campaign.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Crée par</th>
                                        <td>{{ counting_campaign.createdBy.name }} {{ counting_campaign.createdBy.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ counting_campaign.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Sites et Equipes</th>
                                        <td>
                                            {% if counting_campaign.siteAgentsGroups|length > 0 %}
                                                <div class="accordion" id="accordionGroups">
                                                    {% for siteAgentsGroup in counting_campaign.siteAgentsGroups %}
                                                        {% set site = siteAgentsGroup.siteCollection %}

                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading-{{ loop.index }}">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                                                                    {{ site.siteName }} ({{ site.city.name }} / {{ site.city.region.name }})
                                                                </button>
                                                            </h2>
                                                            <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#accordionGroups">
                                                                <div class="accordion-body">
                                                                    <div class="col text-end">
                                                                        {% set currentDate = "now"|date('Y-m-d H:i:s') %}

                                                                        {% set userInGroup = false %}

                                                                        {% if siteAgentsGroup.agentsGroup|length > 0 %}
                                                                            {% for group in siteAgentsGroup.agentsGroup %}
                                                                                {% for agent in group.groupMember %}
                                                                                    {% if app.user == agent %}
                                                                                        {% set userInGroup = true %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                                
                                                                            {% endfor %}

                                                                            {% if userInGroup %}
                                                                                {% if counting_campaign.startDate|date('Y-m-d H:i:s') <= currentDate %}
                                                                                    {% if counting_campaign.campaignStatus != statusClosed and counting_campaign.campaignStatus != statusSuspended %}
                                                                                        
                                                                                        {# Vérifiez si le site a des conditions environnementales associées #}
                                                                                        {% if existingConditions[site.id] is defined %}
                                                                                            {# La condition environnementale existe pour ce site #}
                                                                                            {% set condition = existingConditions[site.id] %}
                                                                                            
                                                                                            {# Vérifiez si `collectedData` est défini et vide pour la condition #}
                                                                                            {% if condition.collectedData is empty %}
                                                                                                <a href="{{ path('app_collected_data_new', {'campaignId': counting_campaign.id, 'siteId': site.id}) }}" class="btn btn-success btn-sm" title="Commencez à collecter"> Collecter des données
                                                                                                    <i class="bi bi-arrow-bar-right">
                                                                                                        <div class="spinner-grow spinner-grow-sm text-light" role="status"></div>
                                                                                                    </i>
                                                                                                </a>
                                                                                            {% else %}
                                                                                                <a href="{{ path('app_environmental_conditions_new', {'siteId': site.id, 'campaignId': counting_campaign.id}) }}" class="btn btn-outline-success btn-sm my-2" title="Ajouter les conditions environnementales puis commencer à collecter">
                                                                                                    Ajouter Conditions Environnementales de collecte
                                                                                                </a>
                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {# Aucune condition environnementale n'existe encore pour ce site #}
                                                                                            <a href="{{ path('app_environmental_conditions_new', {'siteId': site.id, 'campaignId': counting_campaign.id}) }}" class="btn btn-outline-success btn-sm my-2" title="Ajouter les conditions environnementales puis commencer à collecter">
                                                                                                Ajouter Conditions Environnementales de collecte
                                                                                            </a>
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% else %}
                                                                                    <code>
                                                                                        Vous ne pouvez pas commencer à collecter avant : 
                                                                                        {{ counting_campaign.startDate ? counting_campaign.startDate|date('Y-m-d H:i:s') : '' }}
                                                                                    </code>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <i class="text-warning bi bi-exclamation-triangle me-1"> Cette partie est réservée pour les agents du site</i>
                                                                            {% endif %}
                                                                        {% endif %}

                                                                    </div>
                                                                    <h6>Groupes d'agents associés :</h6>
                                                                    {% if siteAgentsGroup.agentsGroup|length > 0 %}
                                                                        {% for group in siteAgentsGroup.agentsGroup %}
                                                                            <ul>
                                                                                <li>
                                                                                    <h6>{{ group.groupName }} (Chef : {{ group.leader.name }} {{ group.leader.lastName }})</h6>
                                                                                    <ul>
                                                                                        {% for agent in group.groupMember %}
                                                                                            <li>{{ agent.name }} {{ agent.lastName }}</li>
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        <span>Aucun groupe trouvé</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <span>Aucun site trouvé</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {# </div> #}

                        {# {% if counting_campaign.campaignStatus != statusClosed and counting_campaign.campaignStatus != statusSuspended %}
                            <div class="alert alert-warning alert-dismissible fade show d-flex justify-content-between" role="alert">
                                <i class="bi bi-info-circle me-1"> Si la campagne est completement terminée</i>
                                <button type="button" class="btn badge bg-warning" data-bs-toggle="modal" data-bs-target="#fullscreenModal" title="Vous auriez été redirigé vers les détails de la campagne.">Clôturer la campagne</button>
                            </div>
                        {% elseif counting_campaign.campaignStatus == statusSuspended %}
                            Mettre fin au suspension de la campagne, <a href="{{ path('app_counting_campaign_suspend', {'id': counting_campaign.id}) }}" class="btn btn-warning" title="Mettre fin au suspense de la campagne">Reprendre</a>
                        {% endif %} #}
                    </div>
                    
                    {# <div class="modal fade" id="fullscreenModal" tabindex="-1">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <!-- Header du modal -->
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title">
                                        <i class="bi bi-flag-fill"></i> Clôturer la campagne : {{ counting_campaign.campaignName }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                
                                {% include 'counting_campaign/detail.html.twig' %}

                            </div>
                        </div>
                    </div> #}

                    <div class="card-footer d-flex justify-content-between">
                        <div>
                            <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-sm btn-outline-secondary mx-1" title="Retour vers consultation des campagnes">Retour</a>
                            {# {% if counting_campaign.campaignStatus == statusClosed %}
                                <button type="button" class="btn btn-success btn-sm bi bi-check-circle mx-2" data-bs-toggle="modal" data-bs-target="#fullscreenModal"> Les détails de la campagne</button>
                            {% endif %} #}
                        </div>
                        <div class="d-flex justify-content-end">
                            {% import 'macros/btn_actions_macros.html.twig' as macros %}
                            {{ macros.action_buttons('app_counting_campaign_new','app_counting_campaign_show', 'app_counting_campaign_edit', 'counting_campaign/_delete_form.html.twig', counting_campaign, app.request.attributes.get('_route'), true) }}
                            {{ include('counting_campaign/_delete_form.html.twig') }}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Accordion without outline borders -->
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        <h6 class="mt-4"><i class="bi bi-info-circle-fill text-info"></i> Détails de la campagne</h6>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {{ include('counting_campaign/detail.html.twig') }}
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Accordion without outline borders -->
                    </div>

                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="card-footer d-flex justify-content-between">
                            {% if counting_campaign.campaignStatus != statusSuspended and counting_campaign.campaignStatus != statusClosed %}
                                <a href="{{ path('app_counting_campaign_suspend', {'id': counting_campaign.id}) }}" class="btn btn-warning bi bi-pause-fill"> Mettre en suspens</a>
                            {% elseif counting_campaign.campaignStatus == statusSuspended %}
                                <a href="{{ path('app_counting_campaign_suspend', {'id': counting_campaign.id}) }}" class="btn btn-warning bi bi-play-fill" title="Mettre fin au suspension de la campagne">Reprendre</a>
                            {% endif %}
                            {% if counting_campaign.campaignStatus == statusFinished %}
                                <a href="{{ path('app_counting_campaign_close', {'id': counting_campaign.id}) }}" class="btn btn-primary bi bi-lock-fill"> Clôturer la campagne</a>
                            {% endif %}
                            {% if counting_campaign.campaignStatus != statusClosed %}
                                <a href="{{ path('app_counting_campaign_cancel', {'id': counting_campaign.id}) }}" class="btn btn-dark bi bi-x-lg" onclick="return confirm('Êtes-vous sûr de vouloir annuler cette campagne ? Cette action n\'est pas réversible');"> Annuler la campagne</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            
            </div>
        </div>

    </section>
</main>
{% endblock %}
