{% extends 'base.html.twig' %}

{% block title %}Campagne de comptage{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Détail d'une campagne de comptage</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_counting_campaign_index') }}">Gestion des campagnes</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                  <div id="printableArea">
                    <div class="card-body">
                        <h5 class="card-title">Détail</h5>
                        <div class="text-end my-4">
                            {% set currentDate = "now"|date('Y-m-d H:i:s') %}
                            {% if counting_campaign.startDate|date('Y-m-d H:i:s') > currentDate %}
                                <code>Vous ne pouvez pas commencer à collecter avant : {{ counting_campaign.startDate ? counting_campaign.startDate|date('d-m-Y H:i:s') : '' }}</code>
                            {% endif %}
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nom de la campagne</th>
                                    <td>{{ counting_campaign.campaignName }}</td>
                                </tr>
                                <tr>
                                    <th>Etat de la campagne</th>
                                    {# <td>
                                        {% if counting_campaign.campaignStatus == 'En attente' %}
                                            <div class="btn-status btn btn-info" role="status">
                                            <i class="bi bi-circle-fill"></i>
                                            {{ counting_campaign.campaignStatus }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus == 'En cours' %}
                                            <div class="btn-status btn btn-primary" role="status">
                                                <i class="bi bi-circle-fill"></i>
                                                {{ counting_campaign.campaignStatus }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus == 'Terminé' %}
                                            <div class="btn-status btn btn-success">
                                                <i class="bi bi-check-circle"> </i>
                                            </div>
                                            {{ counting_campaign.campaignStatus }}
                                            {% elseif counting_campaign.campaignStatus == 'Annulé' %}
                                            <div class="btn-status btn btn-dark">
                                                <i class="bi bi-x-lg"> </i>
                                                {{ counting_campaign.campaignStatus }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus == 'Erreur' %}
                                            <div class="btn-status btn btn-warning">
                                                <i class="bi bi-exclamation-triangle"> </i>
                                                {{ counting_campaign.campaignStatus }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus == 'Validé' %}
                                            <div class="btn-status btn btn-success">
                                                <i class="bi bi-check-circle"> </i>
                                                {{ counting_campaign.campaignStatus }}
                                            </div>
                                            {% elseif counting_campaign.campaignStatus == 'Suspens' %}
                                            <div class="btn-status btn btn-secondary" role="status">
                                                <i class="bi bi-circle-fill"></i>
                                                {{ counting_campaign.campaignStatus }}
                                            </div>
                                            {% else %} 
                                            {{ counting_campaign.campaignStatus }}
                                        {% endif %}
                                    </td> #}
                                    <td>
                                        {% set status_classes = {
                                            'En attente': 'info',
                                            'En cours': 'primary',
                                            'Terminé': 'light',
                                            'Annulé': 'dark',
                                            'Erreur': 'warning',
                                            'Validé': 'success',
                                            'Suspens': 'secondary'
                                        } %}
                                        <div class="btn-status btn btn-{{ status_classes[counting_campaign.campaignStatus] ?? 'secondary' }}">
                                            <i class="bi bi-circle-fill"></i>
                                            {{ counting_campaign.campaignStatus }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Date de début</th>
                                    <td>{{ counting_campaign.startDate ? counting_campaign.startDate|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Date de fin</th>
                                    <td>{{ counting_campaign.endDate ? counting_campaign.endDate|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Crée le</th>
                                    <td>{{ counting_campaign.createdAt ? counting_campaign.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Dernière mise à jour le</th>
                                    <td>{{ counting_campaign.updatedAt ? counting_campaign.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Crée par</th>
                                    <td>{{ counting_campaign.createdBy.name }} {{ counting_campaign.createdBy.lastName }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ counting_campaign.description }}</td>
                                </tr>
                                <tr>
                                    <th>Sites et Equipes</th>
                                    <td>
                                        {% if counting_campaign.siteAgentsGroups|length > 0 %}
                                            <div class="accordion" id="accordionGroups">
                                                {% for siteAgentsGroup in counting_campaign.siteAgentsGroups %}
                                                    {% set site = siteAgentsGroup.siteCollection %}

                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="heading-{{ loop.index }}">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                                                                {{ site.siteName }} ({{ site.city.name }} / {{ site.city.region.name }})
                                                            </button>
                                                        </h2>
                                                        <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#accordionGroups">
                                                            <div class="accordion-body">
                                                                <div class="col text-end">
                                                                    {% set currentDate = "now"|date('Y-m-d H:i:s') %}

                                                                    {% if counting_campaign.startDate|date('Y-m-d H:i:s') <= currentDate %}
                                                                        {% if existingConditions[site.id] is not empty %}

                                                                            {% if existingConditions[site.id].collectedData is empty %}
                                                                                {# {% set agentsGroups = siteAgentsGroup.agentsGroup %}
                                                                                {% if app.user.getEmail in agentsGroups %}
                                                                                    <p>SAG is not empty</p>
                                                                                {% else %}<p>SAG is empty</p>
                                                                                {% endif %} #}

                                                                                <a href="{{ path('app_collected_data_new', {'campaignId': counting_campaign.id, 'siteId': site.id}) }}" class="btn btn-success btn-lg" title="Commentcez a collecter"> Collecter des données 
                                                                                    <i class="bi bi-arrow-bar-right">
                                                                                        <div class="spinner-grow spinner-grow-sm text-light" role="status"></div>
                                                                                    </i>
                                                                                </a>
                                                                            {% else %}
                                                                                <a href="{{ path('app_environmental_conditions_new', {'siteId': site.id, 'campaignId': counting_campaign.id}) }}" class="btn btn-outline-success btn-sm my-2" title="Ajouter les conditions environnementales puis commencer à collecter">
                                                                                    Ajouter Conditions Environnementales de collecte
                                                                                </a>
                                                                            {% endif %}
                                                                            
                                                                        {% else %}
                                                                            <a href="{{ path('app_environmental_conditions_new', {'siteId': site.id, 'campaignId': counting_campaign.id}) }}" class="btn btn-outline-success btn-sm my-2" title="Ajouter les conditions environnementales puis commencer à collecter">
                                                                                Ajouter Conditions Environnementales de collecte
                                                                            </a>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <code>
                                                                            Vous ne pouvez pas commencer à collecter avant : 
                                                                            {{ counting_campaign.startDate ? counting_campaign.startDate|date('Y-m-d H:i:s') : '' }}
                                                                        </code>
                                                                    {% endif %}
                                                                </div>
                                                                <h6>Groupes d'agents associés :</h6>
                                                                {% if siteAgentsGroup.agentsGroup|length > 0 %}
                                                                    {% for group in siteAgentsGroup.agentsGroup %}
                                                                        <ul>
                                                                            <li>
                                                                                <h6>{{ group.groupName }} (Chef : {{ group.leader.name }} {{ group.leader.lastName }})</h6>
                                                                                <ul>
                                                                                    {% for agent in group.groupMember %}
                                                                                        <li>{{ agent.name }} {{ agent.lastName }}</li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    <span>Aucun groupe trouvé</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <span>Aucun site trouvé</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div class="d-flex justtify-content-end">
                            <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-sm btn-outline-secondary" title="Retour vers consultation des campagnes">Retour</a>
                            <a href="{{ path('app_counting_campaign_edit', {'id': counting_campaign.id}) }}" class="btn btn-sm btn-outline-primary bi bi-pencil-square mx-1"> Modifier</a>
                            {# <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une campagne</a> #}
                            <a href="{{ path('app_collected_data_index') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Consultation des collectes</a>
                             {{ include('counting_campaign/_delete_form.html.twig') }}
                        </div>
                        <div>
                            <button id="printButton" class="btn btn-sm btn-outline-success bi bi-printer"> Imprimer</button>
                            <a href="#" class="btn btn-sm btn-outline-info bi bi-folder"> Exporter CSV</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
