{{ form_start(form) }}

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.scientificName, 'Nom Scientifique') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.scientificName, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.frenchName, 'Nom français') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.frenchName, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.wispeciescode, 'WI code espèse') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.wispeciescode, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.imageFile, 'Image') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.authority, 'Autorité') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.authority, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{# 
  <div class="row mb-3">
    <label for="coverage" class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">
      Couverture
    </label>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <select id="coverageDropdown" name="coverageDropdown" class="form-control"> #}
            {# {% for option in form.coverage.vars.choices %}
                <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %} #}
          {# {% if form.coverage %}
            <option value="{{ form_widget(form.coverage, {'attr': {'class': 'form-control'}}) }}"></option>
          {% endif %}
        </select>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted" data-bs-toggle="modal" data-bs-target="#coverageModal"> Ajouter</button>
      </div>
  </div> #}

  <div class="row mb-3">
    <label for="coverage" class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Couverture</label>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        {# <select id="coverageDropdown" name="coverageDropdown" class="form-control">
            {% for option in form.coverage.vars.choices %}
                <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
        </select> #}
        {{ form_widget(form.coverage, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted" data-bs-toggle="modal" data-bs-target="#coverageModal">Ajouter</button>
    </div>
</div>


  <div class="row mb-3">
      <label for="birdLifeTaxTreat" class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Traitement taxonomique de BirdLife</label>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <select id="birdLifeTaxTreatDropdown" name="birdLifeTaxTreatDropdown" class="form-control">
              {% if form.birdLifeTaxTreat %}
                <option value="{{ form_widget(form.birdLifeTaxTreat, {'attr': {'class': 'form-control'}}) }}"></option>
              {% endif %}
          </select>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <button type="button" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted" data-bs-toggle="modal" data-bs-target="#birdLifeTaxTreatModal"> Ajouter</button>
      </div>
  </div>

  <div class="row mb-3">
      <label for="iucnRedListCategory" class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Catégorie de la liste rouge de l'UICN 2022</label>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <select id="iucnRedListCategoryDropdown" name="iucnRedListCategoryDropdown" class="form-control">
              {% for option in form.iucnRedListCategory.vars.choices %}
                  <option value="{{ option.value }}">{{ option.label }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <button type="button" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted" data-bs-toggle="modal" data-bs-target="#iucnRedListCategoryModal"> Ajouter</button>
      </div>
  </div>
  
  
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.commonName, 'Nom commun') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.commonName, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.commonNameAlt, 'Noms communs alternatifs') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.commonNameAlt, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.synonyms, 'Synonyms') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.synonyms, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.taxonomicSources, 'Source(s) Taxonomique') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.taxonomicSources, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.sisRecId, 'sisRec ID') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.sisRecId, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.spcRecId, 'spcRec ID') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.spcRecId, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {{ form_label(form.subsppId, 'subspp ID') }}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      {{ form_widget(form.subsppId, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
      {{ form_row(form.birdFamily) }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <button type="reset" class="btn btn-outline-dark bi bi-x-square"> Annuler</button>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <button class="btn btn-outline-primary bi bi-save"> {{ button_label|default('Enregistrer') }}</button>
    </div>
  </div>
{{ form_end(form) }}<!-- End General Form Elements -->