{% extends 'base.html.twig' %}

{% block title %}Modification espèce d'oiseau{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Modifier espèce d'oiseau</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_bird_species_index') }}">Gestion des espèces</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Modifier
                        </h5>

                        {{ include('bird_species/_form.html.twig', {'button_label': ' Mise à jour'}) }}
                        
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-betzeen">
                                <div>
                                    <a href="{{ path('app_bird_species_index') }}" class="btn btn-sm btn-outline-secondary mx-1" title="Retour vers la consultation des espèce d'oiseaux">Retour</a>
                                </div>
                                <div>
                                    {% import 'macros/btn_actions_macros.html.twig' as macros %}
                                    {{ macros.action_buttons('app_bird_species_show', 'app_bird_species_edit', 'bird_species/_delete_form.html.twig', bird_specy, app.request.attributes.get('_route')) }}
                                    {{ include('bird_species/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
