{% extends 'base.html.twig' %}

{% block title %}Consultation des espèces{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Espèces des oiseaux</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item active">Gestion des espèces</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                     
         <div id="printableArea">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listes</h5>

                  <!-- Table with stripped rows -->
                  <table class="table datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom Scientifique</th>
                            <th>Nom français</th>
                            <th>Image</th>
                            <th>Date de création</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for bird_specy in bird_species %}
                        <tr>
                            <td>{{ bird_specy.id }}</td>
                            <td>{{ bird_specy.scientificName }}</td>
                            <td>{{ bird_specy.frenchName }}</td>
                            <td>
                              {% if bird_specy.image %}
                                  <img src="{{ vich_uploader_asset(bird_specy.image, 'imageFile') }}" alt="{{ bird_specy.frenchName }}" class="imgIndex rounded mx-auto d-block"/>
                              {% else %}
                                  <p>Aucune image disponible</p>
                              {% endif %}
                            </td>
                            <td>{{ bird_specy.createdAt ? bird_specy.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                              <div class="d-flex justify-content-end">
                                {% import 'macros/btn_actions_macros.html.twig' as macros %}
                                {{ macros.action_buttons('app_bird_species_show', 'app_bird_species_edit', 'bird_species/_delete_form.html.twig', bird_specy, app.request.attributes.get('_route')) }}
                                {{ include('bird_species/_delete_form.html.twig') }}
                              </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <a href="{{ path('app_bird_species_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une espèce</a>
                  <a href="{{ path('app_bird_family_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une famille</a>
                </div>
              </div>
              <!-- End Table with stripped rows -->

            </div>
          </div>
         </div>

        </div>
      </div>
    </section>
        
    {% import 'macros/form_macros.html.twig' as form_macros %}

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    {{ form_macros.csv_import_form(form, 'app_bird_species_index') }}
                </div>
            </div>
        </div>
    </section>

    {% if headers is defined and rows is defined %}
        {{ form_macros.csv_modal(headers, rows, csvData, 'app_bird_species_index', ['Scientific name', 'Family name', 'Family', 'Ordre']) }}
    {% endif %}
</main><!-- End #main -->
{% endblock %}
