{% extends 'base.html.twig' %}

{% block title %}Nouvelle espèce d'oiseau{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Création d'une espèce oiseau</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_bird_species_index') }}">Gestion des espèces</a></li>
          <li class="breadcrumb-item active">Création</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Les informations de la nouvelle espèse oiseau</h5>

                        {{ include('bird_species/_form.html.twig') }}

                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_bird_species_index') }}" class="btn btn-sm btn-outline-secondary mx-1" title="Retour vers la consultation des espèce d'oiseaux">Retour</a>
                        <a href="{{ path('app_bird_family_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted"> Créer une famille</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>

<!-- Coverage Modal -->
<div class="modal fade" id="coverageModal" tabindex="-1" aria-labelledby="coverageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="coverageModalLabel">Créer une nouvelle Couverture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="coverageForm">
                    <div class="mb-3">
                        {{ form_widget(coverageForm) }}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" id="saveCoverage">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- birdLifeTaxTreat Modal -->
<div class="modal fade" id="birdLifeTaxTreatModal" tabindex="-1" aria-labelledby="birdLifeTaxTreatModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="birdLifeTaxTreatModalLabel">Créer un nouveau traitement taxonomique pour BirdLife</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="birdLifeTaxTreatForm">
                    <div class="mb-3">
                        {{ form_widget(birdLifeTaxTreatForm) }}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- iucnRedListCategory Modal -->
<div class="modal fade" id="iucnRedListCategoryModal" tabindex="-1" aria-labelledby="iucnRedListCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="iucnRedListCategoryModalLabel">Créer une nouvelle catégorie de la liste rouge de l'UICN 2022</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="iucnRedListCategoryForm">
                    <div class="mb-3">
                        {{ form_widget(iucnRedListCategoryForm) }}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
