{% extends 'base.html.twig' %}

{% block title %}Espèce oiseau{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Espèce d'oiseau</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_bird_species_index') }}">Gestion des espèces</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <div id="printableArea">
                <div class="card">
                    {% if bird_specy.imageFilename %}
                        <img src="{{ vich_uploader_asset(bird_specy, 'imageFile') }}" alt="{{ bird_specy.frenchName }}" class="imgShow rounded mx-auto d-block">
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            Détail
                        </h5>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nom Scientifique</th>
                                    <td>{{ bird_specy.scientificName }}</td>
                                </tr>
                                <tr>
                                    <th>Nom français</th>
                                    <td>{{ bird_specy.frenchName }}</td>
                                </tr>
                                <tr>
                                    <th>Code WI espèce</th>
                                    <td>{{ bird_specy.wispeciescode }}</td>
                                </tr>
                                <tr>
                                    <th>Autorité</th>
                                    <td>{{ bird_specy.authority }}</td>
                                </tr>
                                <tr>
                                    <th>Couverture</th>
                                    <td>{{ bird_specy.coverage }}</td>
                                </tr>
                                <tr>
                                    <th>Créé le</th>
                                    <td>{{ bird_specy.createdAt ? bird_specy.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Dernière mise à jour le</th>
                                    <td>{{ bird_specy.updatedAt ? bird_specy.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Traitement taxonomique de BirdLife</th>
                                    <td>{{ bird_specy.birdLifeTaxTreat }}</td>
                                </tr>
                                <tr>
                                    <th>Nom commun</th>
                                    <td>{{ bird_specy.commonName }}</td>
                                </tr>
                                <tr>
                                    <th>Noms communs alternatifs</th>
                                    <td>{{ bird_specy.commonNameAlt }}</td>
                                </tr>
                                <tr>
                                    <th>Catégorie de la liste rouge de l'UICN 2022</th>
                                    <td>{{ bird_specy.iucnRedListCategory }}</td>
                                </tr>
                                <tr>
                                    <th>Synonyms</th>
                                    <td>{{ bird_specy.synonyms }}</td>
                                </tr>
                                <tr>
                                    <th> Source(s) Taxonomique</th>
                                    <td>{{ bird_specy.taxonomicSources }}</td>
                                </tr>
                                <tr>
                                    <th>sisRec ID</th>
                                    <td>{{ bird_specy.sisRecId }}</td>
                                </tr>
                                <tr>
                                    <th>spcRec ID</th>
                                    <td>{{ bird_specy.spcRecId }}</td>
                                </tr>
                                <tr>
                                    <th>subspp ID</th>
                                    <td>{{ bird_specy.subsppId }}</td>
                                </tr>
                                <tr>
                                    <th>Famille</th>
                                    <td>{{ bird_specy.birdFamily.familyname }}</td>
                                </tr>
                                <tr>
                                    <th>Sous-famille</th>
                                    <td>{{ bird_specy.birdFamily.subFamily }}</td>
                                </tr>
                                <tr>
                                    <th>Tribu</th>
                                    <td>{{ bird_specy.birdFamily.tribe }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justtify-content-end">
                                <a href="{{ path('app_bird_species_index') }}" class="btn btn-offline-light btn-sm bi bi-arrow-return-left mx-1"> retour vers la liste</a>
                                <a href="{{ path('app_bird_species_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-2"> Créer nouvelle espèce</a>
                                <a href="{{ path('app_bird_species_edit', {'id': bird_specy.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-2"> Modifier</a>
                                {{ include('bird_species/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>

                </div>
              </div>
            </div>
        </div>
    </section>
        
    <div class="alert border-light alert-dismissible fade show" role="alert">
      <!-- Card with header and footer -->
      <div class="card">
        <div class="card-footer">
          <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
          <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div><!-- End Card with header and footer -->
    </div>

</main>

{% endblock %}
