{% extends 'base.html.twig' %}

{% block title %}BirdSpeciesGroup index{% endblock %}

{% block body %}
    <h1>BirdSpeciesGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Scientificname</th>
                <th>Alias</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bird_species_group in bird_species_groups %}
            <tr>
                <td>{{ bird_species_group.id }}</td>
                <td>{{ bird_species_group.scientificname }}</td>
                <td>{{ bird_species_group.alias }}</td>
                <td>{{ bird_species_group.description }}</td>
                <td>{{ bird_species_group.createdAt ? bird_species_group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bird_species_group.updatedAt ? bird_species_group.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_bird_species_group_show', {'id': bird_species_group.id}) }}">show</a>
                    <a href="{{ path('app_bird_species_group_edit', {'id': bird_species_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bird_species_group_new') }}">Create new</a>
{% endblock %}
