{% extends 'base.html.twig' %}

{% block title %}BirdSpeciesGroup{% endblock %}

{% block body %}
    <h1>BirdSpeciesGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bird_species_group.id }}</td>
            </tr>
            <tr>
                <th>Scientificname</th>
                <td>{{ bird_species_group.scientificname }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ bird_species_group.alias }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bird_species_group.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ bird_species_group.createdAt ? bird_species_group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ bird_species_group.updatedAt ? bird_species_group.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bird_species_group_index') }}">back to list</a>

    <a href="{{ path('app_bird_species_group_edit', {'id': bird_species_group.id}) }}">edit</a>

    {{ include('bird_species_group/_delete_form.html.twig') }}
{% endblock %}
