{% macro csv_import_form(form, submit_action) %}
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Importer un fichier CSV</h5>
        <div>
            <button id="printButton" class="btn btn-outline-secondary btn-sm me-2 bi bi-printer" title="Imprimer"></button>
            <button id="exportCSVButton" class="btn btn-secondary btn-sm bi bi-folder" title="Exporter en CSV"></button>
        </div>
    </div>
    <div class="card-body">
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'csvForm'}}) }}
            {{ form_row(form.csvFile, {
                'attr': {'onchange': 'document.getElementById("csvForm").submit();'}
            }) }}
        {{ form_end(form) }}
        <small class="form-text text-muted">Assurez-vous que votre fichier contient les colonnes nécessaires.</small>
    </div>
{% endmacro %}

{% macro csv_modal(headers, rows, csvData, submit_action, requiredHeaders, optionalHeaders) %}
    <!-- Modal -->
    <div class="modal fade" id="csvPreviewModal" tabindex="-1" aria-labelledby="csvPreviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable"> <!-- Changement ici pour agrandir la fenêtre -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="csvPreviewModalLabel">Aperçu du fichier CSV</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <b>NB: </b><span>Les colonnes </span>
                        {% for header in requiredHeaders %}
                            <code>{{ header }}, </code>
                        {% endfor %}
                        <span>sont obligatoires.</span>
                    </p>
                    {% if optionalHeaders|length > 0 %}
                        <p>
                            <span>Les colonnes </span>
                            {% for header in optionalHeaders %}
                                <code>{{ header }}, </code>
                            {% endfor %}
                            <span>sont facultatives.</span>
                        </p>
                    {% endif %}
                    <!-- Afficher les colonnes manquantes -->
                    <span class="text-danger">Colonnes manquantes :
                        {% set missingHeaders = [] %}
                        {% for requiredHeader in requiredHeaders %}
                            {% if requiredHeader not in headers %}
                                {% set missingHeaders = missingHeaders|merge([requiredHeader]) %}
                            {% endif %}
                        {% endfor %}
                        {% if missingHeaders is empty %}
                            <span>Aucune colonne manquante</span>
                        {% else %}
                            {% for missingHeader in missingHeaders %}
                                <code>{{ missingHeader }}</code>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </span>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                {% for header in headers %}
                                    <th>
                                        {{ header }} 
                                        {% if header in requiredHeaders %}
                                            <span class="text-success bi bi-check-circle me-1"></span> <!-- Indique que c'est obligatoire -->
                                        {% endif %}
                                        {% if header in optionalHeaders %}
                                            <span class="text-success bi bi-check-circle me-1"></span> <!-- Indique que c'est obligatoire -->
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows %}
                                <tr>
                                    {% for cell in row %}
                                        <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ path(submit_action) }}">
                        <input type="hidden" name="csvData" value="{{ csvData|e('html_attr') }}">
                        {% if missingHeaders is empty %}
                            <button type="submit" name="action" value="import" class="btn btn-outline-primary btn-sm bi bi-upload"> Importer</button>
                        {% endif %}
                        <button type="button" class="btn btn-outline-dark btn-sm bi bi-x-square" data-bs-dismiss="modal"> Annuler</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('./js/csv.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('csvPreviewModal'), {});
            myModal.show();
        });
    </script>

{% endmacro %}
