{% extends 'base.html.twig' %}

{% block title %}BirdLifeTaxTreat{% endblock %}

{% block body %}
    <h1>BirdLifeTaxTreat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ bird_life_tax_treat.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ bird_life_tax_treat.label }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ bird_life_tax_treat.createdAt ? bird_life_tax_treat.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dernière mise à jour le</th>
                <td>{{ bird_life_tax_treat.updatedAt ? bird_life_tax_treat.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bird_life_tax_treat_index') }}">back to list</a>

    <a href="{{ path('app_bird_life_tax_treat_edit', {'id': bird_life_tax_treat.id}) }}">edit</a>

    {{ include('bird_life_tax_treat/_delete_form.html.twig') }}
{% endblock %}
