{% extends 'base.html.twig' %}

{% block title %}Les conditions d'environnement{% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Index des conditions d'environnement</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item active">Gestion des conditions d'environnement</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listes</h5>
             <div id="printableArea">
                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Site de conditions</th>
                            <th>Numéro de collecte</th>
                            <th>Créé par</th>
                            <th>Crée le</th>
                            <th>Dernière mise à jour le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for environmental_condition in environmental_conditions %}
                        <tr>
                            <td>{{ environmental_condition.id }}</td>
                            <td>{{ environmental_condition.siteCollection.siteName }}</td>
                            <td>
                              {% if environmental_condition.collectedData is not empty %}
                                {{ environmental_condition.collectedData.id }}
                              {% else %}
                                <p class="explanation">Pas de collecte</p>
                              {% endif %}
                            </td>
                            <td>{{ environmental_condition.user.name }} {{ environmental_condition.user.lastName }}</td>
                            <td>{{ environmental_condition.createdAt ? environmental_condition.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>{{ environmental_condition.updatedAt ? environmental_condition.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path('app_environmental_conditions_show', {'id': environmental_condition.id}) }}" class="btn-action btn btn-outline-success btn-sm bi bi-card-text mx-2"> Détail</a>
                                    <a href="{{ path('app_environmental_conditions_edit', {'id': environmental_condition.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-2"> Modifier</a>
                                    {{ include('environmental_conditions/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              <!-- End Table with stripped rows -->    
             </div>          
              
            </div>
            <div class="card-footer">
              <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task"> Consultation des campagnes</a>
              <a href="{{ path('app_collected_data_index') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Liste des collectes</a>
              <a href="{{ path('app_collected_data_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une collecte</a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <div class="alert border-light alert-dismissible fade show" role="alert">
      <!-- Card with header and footer -->
      <div class="card">
        <div class="card-header">
          {# {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_row(form.csvFile) }}
            <button type="submit" formaction="{{ path('app_bird_family_preview') }}" class="btn btn-outline-primary btn-sm bi bi-eye"> Aperçu CSV</button>
            <button type="submit" formaction="{{ path('app_bird_family_import') }}" class="btn btn-outline-primary btn-sm bi bi-upload"> Importer CSV</button>
            {% for error in form.csvFile.vars.errors %}
              <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}
              
            {% for flash_error in app.flashes('error') %}
              <div class="alert alert-danger">{{ flash_error }}</div>
            {% endfor %}
          {{ form_end(form) }} #}
        </div>
        <div class="card-footer">
          <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
          <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div><!-- End Card with header and footer -->
    </div>

  </main><!-- End #main -->
{% endblock %}
