{% extends 'base.html.twig' %}

{% block title %}Conditions d'environnement{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Détails d'une condition d'environnement</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_environmental_conditions_index') }}">Gestion des conditions d'environnement</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Détail</h5>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Numéro</th>
                                    <td>{{ environmental_condition.id }}</td>
                                </tr>
                                <tr>
                                    <th>Crée par</th>
                                    <td>{{ environmental_condition.user.name }} {{ environmental_condition.user.lastName }}</td>
                                </tr>
                                <tr>
                                    <th>Campagne de comptage</th>
                                    <td>{{ environmental_condition.countingCampaign.campaignName }}</td>
                                </tr>
                                <tr>
                                    <th>Site de collecte</th>
                                    <td>{{ environmental_condition.siteCollection.siteName }}</td>
                                </tr>
                                <tr>
                                    <th>Collecte associée<h6 class="explanation">Date de collecte</h6></th>
                                    {% if environmental_condition.collectedData is not empty %}
                                        <td>
                                            {{ environmental_condition.collectedData.id }}
                                            <p class="explanation">{{ environmental_condition.collectedData.createdAt ? environmental_condition.createdAt|date('d-m-Y') : 'Non spécifiée' }}</p>
                                        </td>
                                    {% else %}
                                        <td>Aucune collecte associée à cette condition d'environnement.</td>
                                    {% endif %}
                                    </td>
                                </tr
                                <tr>
                                    <th>Crée le</th>
                                    <td>{{ environmental_condition.createdAt ? environmental_condition.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Dernière mise à jour le</th>
                                    <td>{{ environmental_condition.updatedAt ? environmental_condition.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <a href="{{ path('app_environmental_conditions_index') }}" class="btn btn-offline-light btn-sm bi bi-arrow-return-left"> retour vers la liste</a>
                            <a href="{{ path('app_environmental_conditions_new') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill mx-2"> Créer un site de collecte</a>
                            <a href="{{ path('app_environmental_conditions_edit', {'id': environmental_condition.id}) }}" class="bi bi-pencil-square btn btn-outline-primary btn-sm mx-2"> Modifier</a>
                            {{ include('environmental_conditions/_delete_form.html.twig') }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
