{% extends 'base.html.twig' %}

{% block title %}Modification de la site{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Modification des sites de collection</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_site_collection_index') }}">Gestion des sites</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modifier</h5>
                        {{ include('site_collection/_form.html.twig', {'button_label': ' Mise à jour'}) }}
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justtify-content-end">
                                <a href="{{ path('app_site_collection_index') }}" class="btn btn-offline-light btn-sm bi bi-arrow-return-left"> retour vers la liste</a>
                                {{ include('site_collection/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
