{% extends 'base.html.twig' %}

{% block title %}Modification de la site{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Modification de la collection de sites</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_site_collection_index') }}">Gestion des sites</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Modifier
                        </h5>

                        {{ include('site_collection/_form.html.twig', {'button_label': ' Mise à jour'}) }}
                        
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="{{ path('app_site_collection_index') }}" class="btn btn-outline-secondary btn-sm bi bi-arrow-return-left"> retour vers la liste</a>
                            </div>
                            <div class="col-lg-3">
                                {{ include('site_collection/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
