{% extends 'base.html.twig' %}

{% block title %}Consultation des sites{% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Sites de collecte</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item active">Gestion des sites</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div id="printableArea">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Listes</h5>

                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>Nom du site</th>
                            <th>Ville</th>
                            <th>Région</th>
                            <th>Nom du site parent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for site_collection in site_collections %}
                        <tr>
                            <td>{{ site_collection.siteName }}</td>
                            <td>{{ site_collection.city.name }}</td>
                            <td>{{ site_collection.city.region.name }}</td>
                            <td>{{ site_collection.parentSite }}</td>
                            <td>
                                <div class="d-flex justtify-content-end">
                                      <a href="{{ path('app_site_collection_show', {'id': site_collection.id}) }}" class="btn btn-outline-success btn-sm bi bi-card-text mx-2"> Détail</a>
                                      <a href="{{ path('app_site_collection_edit', {'id': site_collection.id}) }}" class="bi bi-pencil-square btn btn-outline-primary btn-sm mx-2"> Modifier</a>
                                      {{ include('site_collection/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="14">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
              
              <div class="card-footer">
                <div class="d-flex justtify-content-end">
                  <a href="{{ path('app_site_collection_new') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill"> Créer un site de collecte</a>
                  <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Liste des campagnes</a>
                  <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une campagne</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
{# {% include 'import/csv.html.twig' %} #}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'csvForm'}}) }}
                            {{ form_row(form.csvFile, {
                                'attr': {
                                    'onchange': 'document.getElementById("csvForm").submit();'
                                }
                            }) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="card-body">
                      <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
                      <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if headers is defined and rows is defined %}
        <!-- Modal -->
        <div class="modal fade" id="csvPreviewModal" tabindex="-1" aria-labelledby="csvPreviewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="csvPreviewModalLabel"><b>NB:</b> Les colonnes <code>siteName</code>, <code>siteCode</code>, <code>latDepart</code>, <code>longDepart</code>, <code>latFin</code>, <code>longFin</code> et <code>city</code> sont obligatoires.</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <h5 class="text-center">Aperçu du fichier CSV</h5>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    {% for header in headers %}
                                        <th>{{ header }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in rows %}
                                    <tr>
                                        {% for cell in row %}
                                            <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{{ path('app_site_collection_index') }}">
                            <input type="hidden" name="csvData" value="{{ csvData|e('html_attr') }}">
                            <button type="submit" name="action" value="import" class="btn btn-outline-primary btn-sm bi bi-upload"> Importer</button>
                            <button type="button" class="btn btn-outline-dark btn-sm bi bi-x-square" data-bs-dismiss="modal"> Annuler</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Script to auto-show the modal after form submission -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var myModal = new bootstrap.Modal(document.getElementById('csvPreviewModal'), {});
                myModal.show();
            });
        </script>
    {% endif %}

  </main><!-- End #main -->
{% endblock %}
