{% extends 'base.html.twig' %}

{% block title %}Consultation des sites{% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Sites de collecte</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item active">Gestion des sites</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div id="printableArea">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Listes</h5>

                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>Nom du site</th>
                            <th>Ville</th>
                            <th>Région</th>
                            <th>Nom du site parent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for site_collection in site_collections %}
                        <tr>
                            <td>{{ site_collection.siteName }}</td>
                            <td>{{ site_collection.city.name }}</td>
                            <td>{{ site_collection.city.region.name }}</td>
                            <td>{{ site_collection.parentSite }}</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    {% import 'macros/btn_actions_macros.html.twig' as macros %}
                                    {{ macros.action_buttons('app_site_collection_new','app_site_collection_show', 'app_site_collection_edit', 'site_collection/_delete_form.html.twig', site_collection, app.request.attributes.get('_route'), true) }}
                                    {{ include('site_collection/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="14">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
              
              <div class="card-footer">
                <a href="{{ path('app_site_collection_new') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill"> Ajouter un site de collecte</a>
                <a href="{{ path('app_region_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task mx-1"> Consultation des région</a>
                <a href="{{ path('app_nature_reserve_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task mx-1"> Consultation des réserve</a>
                <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task mx-1"> Consultation des campagnes</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% import 'macros/form_macros.html.twig' as form_macros %}

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    {{ form_macros.csv_import_form(form, 'app_site_collection_index') }}
                </div>
            </div>
        </div>
    </section>

    {% if headers is defined and rows is defined %}
        {{ form_macros.csv_modal(headers, rows, csvData, 'app_site_collection_index', ['siteName', 'siteCode', 'latDepart', 'longDepart', 'latFin', 'longFin', 'city'], ['nationalSiteCode', 'internationalSiteCode', 'cityLat', 'cityLong', 'region']) }}
    {% endif %}

  </main><!-- End #main -->
{% endblock %}
