{% extends 'base.html.twig' %}

{% block title %}Collection de sites{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Détail d'un site de collecte</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_site_collection_index') }}">Gestion des sites</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Détail
                        </h5>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nom du site</th>
                                    <td>{{ site_collection.siteName }}</td>
                                </tr>
                                <tr>
                                    <th>Code du site</th>
                                    <td>{{ site_collection.siteCode }}</td>
                                </tr>
                                <tr>
                                    <th>Crée le</th>
                                    <td>{{ site_collection.createdAt ? site_collection.createdAt|date('D-m-y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Dernière mise à jour le</th>
                                    <td>{{ site_collection.updatedAt ? site_collection.updatedAt|date('D-m-y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Code national</th>
                                    <td>{{ site_collection.nationalSiteCode }}</td>
                                </tr>
                                <tr>
                                    <th>Code international</th>
                                    <td>{{ site_collection.internationalSiteCode }}</td>
                                </tr>
                                <tr>
                                    <th>Latitude de départ</th>
                                    <td>{{ site_collection.latDepart }}</td>
                                </tr>
                                <tr>
                                    <th>Longitude de départ</th>
                                    <td>{{ site_collection.longDepart }}</td>
                                </tr>
                                <tr>
                                    <th>Latitude de fin</th>
                                    <td>{{ site_collection.latFin }}</td>
                                </tr>
                                <tr>
                                    <th>Longitude de fin</th>
                                    <td>{{ site_collection.longFin }}</td>
                                </tr>
                                <tr>
                                    {% set city = site_collection.city %}
                                    <th>Ville</th>
                                    <td>{{ city.name }}</td>
                                </tr>
                                <tr>
                                    <th>Région</th>
                                    <td>{{ city.region.name }}
                                        {% if city.region.name %}
                                            {{ city.region.name }}
                                        {% else %}
                                            <span>Aucune</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Pays</th>
                                    <td>
                                        {% if city.region.country %}
                                            {{ city.region.country.name }}
                                        {% else %}
                                            <span>Aucun</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Nom du site parent</th>
                                    <td>{{ site_collection.parentSite ? site_collection.parentSite.siteName : 'Aucun' }}</td>
                                </tr>
                                <tr>
                                    <th>Ce site est le parent de(s)</th>
                                    <td>
                                        {% if site_collection.siteCollections|length > 0 %}
                                            <ul>
                                                {% for subSite in site_collection.siteCollections %}
                                                    <li>{{ subSite.siteName }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            Aucun
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div>
                            <a href="{{ path('app_site_collection_index') }}" class="btn btn-sm btn-outline-secondary mx-1" title="Retour vers la consultation des site">Retour</a>
                            <a href="{{ path('app_site_collection_new') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill mx-2"> Créer un site de collecte</a>
                        </div>
                        <div class="d-flex justify-content-end">
                            {% import 'macros/btn_actions_macros.html.twig' as macros %}
                            {{ macros.action_buttons('app_site_collection_new','app_site_collection_show', 'app_site_collection_edit', 'site_collection/_delete_form.html.twig', site_collection, app.request.attributes.get('_route')) }}
                            {{ include('site_collection/_delete_form.html.twig') }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
