{% extends 'base.html.twig' %}

{% block title %}Modification de données collectées{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Modification de données collectées</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_collected_data_index') }}">Gestion des données collectées</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modifier</h5>

                        {{ include('collected_data/_form.html.twig') }}
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div>
                            <a href="{{ path('app_collected_data_index') }}" class="btn btn-sm btn-outline-secondary" title="Retour vers consultation des collectes">Retour</a>
                            <a href="{{ path('app_bird_species_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une espèce</a>
                        </div>
                        <div class="d-flex justify-content-end">
                            {% import 'macros/btn_actions_macros.html.twig' as macros %}
                            {{ macros.action_buttons('app_collected_data_new','app_collected_data_show', 'app_collected_data_edit', 'collected_data/_delete_form.html.twig', collected_datum, app.request.attributes.get('_route'), false) }}
                            {{ include('collected_data/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
