{% extends 'base.html.twig' %}

{% block title %}Modification de données collectées{% endblock %}

{% block body %}
    <h1>Modification de données collectées</h1>

    {{ include('collected_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_collected_data_index') }}">back to list</a>

    {{ include('collected_data/_delete_form.html.twig') }}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Modification de la campagne</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_collected_data_index') }}">Gestion des campagnes</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Modifier
                        </h5>

                        {{ include('collected_data/_form.html.twig', {'button_label': ' Mise à jour'}) }}<br/>
                        
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="{{ path('app_collected_data_index') }}" class="btn btn-offline-light btn-sm bi bi-arrow-return-left"> retour vers la liste</a>
                            </div>
                            <div class="col-lg-3">
                                {{ include('collected_data/_delete_form.html.twig') }}
                            </div>
                            <div class="col-lg-5">
                                <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-fill">
                                    Créer une nouvelle campagne
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
