{% extends 'base.html.twig' %}

{% block title %}Consultation de données collectées{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Consultation de données collectées</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item active">Gestion des données collectées</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listes</h5>

                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Collecteur</th>
                            <th>Site de collecte</th>
                            <th>Nombre total</th>
                            <th>Crée le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for collected_datum in collected_datas %}
                        <tr>
                            <td>{{ collected_datum.id }}</td>
                            <td>{{ collected_datum.createdBy.name }} {{ collected_datum.createdBy.lastName }}</td>
                            <td>{{ collected_datum.siteCollection.siteName }}</td>
                            <td>
                              {% if collected_datum.totalCount > 0 %}
                                  {{ collected_datum.totalCount }}
                              {% else %}
                                  0  {# Ou afficher un message comme "Aucune collecte" #}
                              {% endif %}
                            </td>
                            <td>{{ collected_datum.createdAt ? collected_datum.createdAt|date('d-m-Y') : '' }}</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                  {% import 'macros/btn_actions_macros.html.twig' as macros %}
                                  {{ macros.action_buttons('app_collected_data_new','app_collected_data_show', 'app_collected_data_edit', 'collected_data/_delete_form.html.twig', collected_datum, app.request.attributes.get('_route'), true) }}
                                  {{ include('collected_data/_delete_form.html.twig') }}
                              </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
              <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task mx-1" title="Voir la liste des campagnes de comptage"> Consultation des campagnes</a>
              <a href="{{ path('app_environmental_conditions_index') }}" class="btn btn-outline-info btn-sm bi bi-list-task mx-1" title="Voir la liste des conditions environnementales"> Consultation des conditions</a>
              {# <a href="{{ path('app_collected_data_new') }}" class="btn btn-outline-info btn-sm ri-database-line"> Créer une collecte</a> #}
              <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une campagne</a>
            </div>
          </div>

        </div>
      </div>
    </section>

</main><!-- End #main -->
{% endblock %}
