{% extends 'base.html.twig' %}

{% block title %}Nouvelle données collectées{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Créer une nouvelle données collectées</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_collected_data_index') }}">Gestion des données collectées</a></li>
          <li class="breadcrumb-item active">Création</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">Informations sur la nouvelle collection</div>
                            <div class="card-title">
                                <div class="explanation">{{ siteCollection.siteName }}</div>
                            </div>
                        </div>

                        {{ include('collected_data/_form.html.twig') }}

                        <a href="{{ path('app_collected_data_index') }}" class="btn btn-sm btn-outline-secondary" title="Retour vers consultation des collectes">Retour</a>
                        <a href="{{ path('app_environmental_conditions_show', {'id': environmentalConditions.id}) }}" class="btn btn-outline-success btn-sm bi bi-card-text mx-2" title="Détail de conditions environnementales"> Conditions environnementales</a>
                        <a href="{{ path('app_counting_campaign_show', {'id': campaign_id}) }}" class="btn btn-outline-success btn-sm bi bi-card-text mx-1" title="Détail de la campagne"> Campagne</a>
                        <a href="{{ path('app_counting_campaign_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une campagne</a>
                        <a href="{{ path('app_bird_species_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer une espèce</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>
{% endblock %}
