{% extends 'base.html.twig' %}

{% block title %}Données collectées{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Données collectées</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_collected_data_index') }}">Gestion des données collectées</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                  <div id="printableArea">
                    <div class="card-body">
                        <h5 class="card-title">Détail</h5>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Campagne de comptage:</th>
                                    <td style="width: 70%;">
                                        {% if collected_datum.countingCampaign %}
                                            {{ collected_datum.countingCampaign.campaignName }}
                                        {% else %}
                                            <p>Aucune campagne de comptage trouvée</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Collecteur:</th>
                                    <td style="width: 70%;">{{ collected_datum.createdBy.name }} {{ collected_datum.createdBy.lastName }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Site de collecte:<h6>(Ville)</h6></th>
                                    <td style="width: 70%;">
                                        {% if collected_datum.siteCollection %}
                                            {{ collected_datum.siteCollection.siteName }}<h6>({{ collected_datum.siteCollection.city.name }})</h6>
                                        {% else %}
                                            <p>Aucun site trouvé</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if collected_datum.environmentalConditions is not empty %}
                                    <tr>
                                        <th style="width: 30%; white-space: nowrap;">Effets des conditions météorologiques sur les comptages <h6>(vent, pluie, brouillard) :</h6></th>
                                        <td style="width: 70%;">{{ collected_datum.environmentalConditions.weather.label }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 30%; white-space: nowrap;">Disturbé(e) <h6>(Indique si le comptage a été affecté par une perturbation):</h6></th>
                                        <td style="width: 70%;">{{ collected_datum.environmentalConditions.disturbed.label }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 30%; white-space: nowrap;">L'état des eaux lors du comptage:</th>
                                        <td style="width: 70%;">{{ collected_datum.environmentalConditions.water.label }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 30%; white-space: nowrap;">La couverture de glace lors du comptage:</th>
                                        <td style="width: 70%;">{{ collected_datum.environmentalConditions.ice.label }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 30%; white-space: nowrap;">Marée cours (la plupart) du comptage:</th>
                                        <td style="width: 70%;">{{ collected_datum.environmentalConditions.tidal.label }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th style="width: 30%; white-space: nowrap;">Conditions d'environnement</th>
                                        <td>Aucun enregistrement trouvé</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Les espèces oiseaux compter:</th>
                                    <td style="width: 70%;">
                                        <ul>
                                            {% for birdSpeciesCount in collected_datum.birdSpeciesCounts %}
                                                <li>({{ birdSpeciesCount.birdSpecies.birdFamily.familyName }}) {{  birdSpeciesCount.birdSpecies.scientificName }} : {{ birdSpeciesCount.count }}</li>
                                            {% else %}
                                                <p>Aucun Oiseau trouvé pour cette collection</p>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Nombre total</th>
                                    <td style="width: 70%;">{{ collected_datum.totalCount }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Type de comptage effectué lors de cette visite:</th>
                                    <td style="width: 70%;">{{ collected_datum.countType.label }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Qualité:</th>
                                    <td style="width: 70%;">{{ collected_datum.quality.label }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Méthode(s) utilisées pour le comptage:</th>
                                    <td style="width: 70%;">{{ collected_datum.method|join('<br> ')|raw }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Crée le</th>
                                    <td style="width: 70%;">{{ collected_datum.createdAt ? collected_datum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%; white-space: nowrap;">Dernière mise à jour le</th>
                                    <td style="width: 70%;">{{ collected_datum.updatedAt ? collected_datum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justtify-content-end">
                                <a href="{{ path('app_collected_data_index') }}" class="btn btn-offline-light btn-sm bi bi-arrow-return-left mx-1"> retour vers la liste</a>
                                <a href="{{ path('app_collected_data_edit', {id: collected_datum.id}) }}" class="bi bi-pencil-square btn btn-outline-primary btn-sm mx-1"> Modifier</a>
                                {# <a href="{{ path('app_collected_data_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1">Créer nouvelle collection des données</a> #}
                                {{ include('collected_data/_delete_form.html.twig') }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="alert border-light alert-dismissible fade show" role="alert">
      <div class="card">
        <div class="card-footer">
          <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
          <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
</main>
{% endblock %}
