{% extends 'base.html.twig' %}

{% block title %}Consultation des villes{% endblock %}

{% block body %}
    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Consultation des villes</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
            <li class="breadcrumb-item active">Gestion des villes</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Listes</h5>

                            <div id="printableArea">
                                <!-- Table with stripped rows -->
                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>Ville</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                            <th>Région</th>
                                            <th>Crée le</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for city in cities %}
                                        <tr>
                                            <td>{{ city.name }}</td>
                                            <td>{{ city.latitude }}</td>
                                            <td>{{ city.longitude }}</td>
                                            <td>{{ city.region.name }}</td>
                                            <td>{{ city.createdAt ? city.createdAt|date('d-m-Y') : '' }}</td>
                                            <td>
                                                <div class="d-flex justtify-content-end">
                                                    <a href="{{ path('app_city_show', {'id': city.id}) }}" class="btn-action btn btn-outline-success btn-sm bi bi-card-text mx-1"> Détail</a>
                                                    <a href="{{ path('app_city_edit', {'id': city.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-2"> Modifier</a>
                                                    {{ include('city/_delete_form.html.twig') }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">Aucun enregistrement trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justtify-content-end">
                                <a href="{{ path('app_city_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Ajouter une ville</a>
                                <a href="{{ path('app_site_collection_index') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill mx-1"> Liste des sites</a>
                                <a href="{{ path('app_site_collection_new') }}" class="btn btn-outline-info btn-sm bi bi bi-geo-alt-fill"> Ajouter un site</a>
                                <a href="{{ path('app_region_index') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Liste des régions</a>
                                <a href="{{ path('app_region_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Ajouter une région</a>
                                <a href="{{ path('app_country_index') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Liste des pays</a>
                                <a href="{{ path('app_country_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Ajouter un pays</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'csvForm'}}) }}
                                {{ form_row(form.csvFile, {
                                    'attr': {
                                        'onchange': 'document.getElementById("csvForm").submit();'
                                    }
                                }) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="card-body">
                        <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
                        <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% if headers is defined and rows is defined %}
            <!-- Modal -->
            <div class="modal fade" id="csvPreviewModal" tabindex="-1" aria-labelledby="csvPreviewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="csvPreviewModalLabel"><b>NB:</b> Les colonnes <code>city</code>,<code> lat</code>, <code>lng</code>, <code>region</code> et <code>regionCode</code> sont obligatoires.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h5 class="text-center">Aperçu du fichier CSV</h5>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        {% for header in headers %}
                                            <th>{{ header }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in rows %}
                                        <tr>
                                            {% for cell in row %}
                                                <td>{{ cell }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{{ path('app_city_index') }}">
                                <input type="hidden" name="csvData" value="{{ csvData|e('html_attr') }}">
                                <button type="submit" name="action" value="import" class="btn btn-outline-primary btn-sm bi bi-upload"> Importer</button>
                                <button type="button" class="btn btn-outline-dark btn-sm bi bi-x-square" data-bs-dismiss="modal"> Annuler</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Script to auto-show the modal after form submission -->
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var myModal = new bootstrap.Modal(document.getElementById('csvPreviewModal'), {});
                    myModal.show();
                });
            </script>
        {% endif %}

    </main><!-- End #main -->
{% endblock %}
