<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('/img/favicon.png') }}" rel="icon">
    <link href="{{ asset('/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ asset('/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ asset('/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    {# <link href="{{ asset('/styles/app.css') }}" rel="stylesheet"> #}


      <title>{% block title %}Welcome!{% endblock %}</title>
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
      {% block stylesheets %}
      {% endblock %}

      {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
      {% endblock %}
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

      <div class="d-flex align-items-center justify-content-between">
        <div class="logo d-flex align-items-center">
        <a href="{{ path('home') }}">
          {% if logo and logo.image and logo.image.imageFilename %}
              <img src="{{ vich_uploader_asset(logo.image, 'imageFile') }}" alt="logo" class="imgLogo">
          {% else %}
              <p>Aucune image disponible</p>
          {% endif %}
        </a>
        <a href="{{ path('app_counting_campaign_index') }}">
          <span class="d-none d-lg-block" style="font-size: 15px; margin-top: 15px;">
            Gestion des campagnes
            <p style="font-size: 11px;">
              de comptage des oiseaux marins
            </p>
          </span>
        </a>
        </div>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->

      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Recherche" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End Search Bar -->

      <div class="clock-container">
        <div id="clock" class="clock"></div>
      </div>

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle " href="#">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->

          {% set notifications = app.flashes() %}
          <script>
            {% for type, messages in notifications %}
                {% for message in messages %}
                    {% if type == 'success' %}
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "{{ message }}",
                            showConfirmButton: false,
                            timer: 3000
                        });
                    {% elseif type == 'warning' %}
                        Swal.fire({
                            icon: "warning",
                            title: "Attention",
                            text: "{{ message }}"
                        });
                    {% elseif type == 'danger' %}
                        Swal.fire({
                            icon: "danger",
                            title: "Danger",
                            text: "{{ message }}"
                        });
                    {% elseif type == 'error' %}
                        Swal.fire({
                            icon: "error",
                            title: "Erreur",
                            text: "{{ message }}"
                        });
                    {% else %}
                        Swal.fire({
                            icon: "info",
                            title: "Info",
                            text: "{{ message }}"
                        });
                    {% endif %}
                {% endfor %}
            {% endfor %}
          </script>
          {# <script>
            document.addEventListener('DOMContentLoaded', (event) => {
              {% for type, messages in notifications %}
                  {% for message in messages %}
                      {% if type == 'success' %}
                          Swal.fire({
                              position: "top-end",
                              icon: "success",
                              title: "{{ message }}",
                              showConfirmButton: false,
                              timer: 3000
                          });
                      {% elseif type == 'warning' %}
                          Swal.fire({
                              icon: "warning",
                              title: "Attention",
                              text: "{{ message }}"
                          });
                      {% elseif type == 'danger' %}
                          Swal.fire({
                              icon: "danger",
                              title: "Danger",
                              text: "{{ message }}"
                          });
                      {% elseif type == 'error' %}
                          Swal.fire({
                              icon: "error",
                              title: "Erreur",
                              text: "{{ message }}"
                          });
                      {% else %}
                          Swal.fire({
                              icon: "info",
                              title: "Info",
                              text: "{{ message }}"
                          });
                      {% endif %}
                  {% endfor %}
              {% endfor %}
            });
          </script> #}
          
          <li class="nav-item dropdown">
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                  <i class="bi bi-bell"></i>
                  {% if notifications %}
                    {% for type, messages in notifications %}
                      {% for message in messages %}
                        {% if type == 'success' %}
                          <span class="badge bg-success badge-number">{{ notifications|length }}</span>
                        {% elseif type == 'warning' %}
                          <span class="badge bg-warning badge-number">{{ notifications|length }}</span>
                        {% elseif type == 'danger' %}
                          <span class="badge bg-danger badge-number">{{ notifications|length }}</span>
                        {% elseif type == 'error' %}
                          <span class="badge bg-warning badge-number">{{ notifications|length }}</span>
                        {% else %}
                          <span class="badge bg-info badge-number">{{ notifications|length }}</span>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
              </a><!-- End Notification Icon -->
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                  <li class="dropdown-header">
                      Vous avez {{ notifications|length }} nouvelle notification.
                      <a href="{{ path('all_notifications') }}"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tout.</span></a>
                  </li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>

                  {% for type, messages in notifications %}
                      {% for message in messages %}
                          <li class="notification-item">
                              {% if type == 'warning' %}
                                  <i class="bi bi-exclamation-circle text-warning"></i>
                              {% elseif type == 'danger' %}
                                  <i class="bi bi-x-circle text-danger"></i>
                              {% elseif type == 'error' %}
                                  <i class="bi bi-exclamation-circle text-warning"></i>
                              {% elseif type == 'success' %}
                                  <i class="bi bi-check-circle text-success"></i>
                              {% elseif type == 'info' %}
                                  <i class="bi bi-info-circle text-primary"></i>
                              {% endif %}
                              <div>
                                  <h4>{{ type|capitalize }}</h4>
                                  <p>{{ message }}</p>
                                  <p>{{ 'now'|date('H:i') }}</p>
                              </div>
                          </li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                      {% endfor %}
                  {% endfor %}
                  
                  <li class="dropdown-footer">
                      <a href="{{ path('all_notifications') }}">Afficher toutes les notifications</a>
                  </li>
              </ul><!-- End Notification Dropdown Items -->
          </li><!-- End Notification Nav -->


          <li class="nav-item dropdown">

            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span>
            </a><!-- End Messages Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
              <li class="dropdown-header">
                You have 3 new messages
                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="{{ asset('/img/messages-1.jpg') }}" alt="" class="rounded-circle">
                  <div>
                    <h4>Maria Hudson</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="{{ asset('/img/messages-2.jpg') }}" alt="" class="rounded-circle">
                  <div>
                    <h4>Anna Nelson</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>6 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="{{ asset('/img/messages-3.jpg') }}" alt="" class="rounded-circle">
                  <div>
                    <h4>David Muldon</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>8 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="dropdown-footer">
                <a href="#">Show all messages</a>
              </li>

            </ul><!-- End Messages Dropdown Items -->

          </li><!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              {% if app.user %}
                  {% if app.user.image %}
                      <img src="{{ vich_uploader_asset(app.user.image, 'imageFile') }}" alt="Profile" class="rounded-circle mx-auto d-block">
                  {% else %}
                      <small>Aucune image disponible</small>
                  {% endif %}
                  <span class="d-none d-md-block dropdown-toggle ps-2">
                      {{ app.user.getName() }}
                  </span>
              {% else %}
                  <a href="{{ path('app_login') }}">Se connecter</a>
              {% endif %}
            </a><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              {% if app.user %}
                <li class="dropdown-header">
                  <h6>{{ app.user.getName() }}</h6>
                  <span>{{ app.user.getRoles()|join(', ') }}</span>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{{ path('app_profile_edit', {'id': app.user.id}) }}">
                    <i class="bi bi-person"></i>
                    <span>Mon Profil</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{{ path('app_profile') }}">
                    <i class="bi bi-people"></i>
                    <span>Utilisateurs</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                    <i class="bi bi-question-circle"></i>
                    <span>Need Help?</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Se déconnecter</span>
                  </a>
                </li>
              {% endif %}
            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->
        </ul>
      </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link " href="{{ path('home') }}">
            <i class="bi bi-grid"></i>
            <span>Accueil</span>
          </a>
        </li><!-- End Dashboard Nav -->
      {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
      {% if app.user %}
        <li class="nav-item">
          <a  href="#" class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse">
            <i class="bi bi-menu-button-wide"></i><span>Gestion des familles</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_bird_family_new') }}">
                <i class="bi bi-circle"></i><span>Créer une famille</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_bird_family_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des familles</span>
              </a>
            </li>
          </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
          <a href="#" class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse">
            <i class="bi bi-twitter"></i><span>Gestion des espèces</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_bird_species_new') }}">
                <i class="bi bi-circle"></i><span>Créer une espèce</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_bird_species_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des espèces</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_coverage_index') }}">
                <i class="bi bi-circle"></i><span>Couvertures</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_bird_life_tax_treat_index') }}">
                <i class="bi bi-circle"></i><span>Traitement taxonomique de BirdLife</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_iucn_red_list_category_index') }}">
                <i class="bi bi-circle"></i><span>Catégorie de la liste rouge de l'UICN 2022</span>
              </a>
            </li>
          </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-layout-text-window-reverse"></i><span>Gestion des campagnes</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_counting_campaign_new') }}">
                <i class="bi bi-circle"></i><span>Créer une campagne</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_counting_campaign_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des campagnes</span>
              </a>
            </li>
          </ul>
        </li><!-- End reserves Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#reserves-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-tree"></i><span>Gestion des réserves</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="reserves-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_nature_reserve_new') }}">
                <i class="bi bi-circle"></i><span>Créer une réserve</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_nature_reserve_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des réserves</span>
              </a>
            </li>
          </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
            <i class="bx bx-location-plus"></i><span>Gestion des sites</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_site_collection_new')}}">
                <i class="bi bi-circle"></i><span>Ajouter un site</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_site_collection_index')}}">
                <i class="bi bi-circle"></i><span>Consultation des sites</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_city_new')}}">
                <i class="bi bi-circle"></i><span>Ajouter une ville</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_city_index')}}">
                <i class="bi bi-circle"></i><span>Consultation des villes</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_region_new')}}">
                <i class="bi bi-circle"></i><span>Ajouter une région</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_region_index')}}">
                <i class="bi bi-circle"></i><span>Consultation des régions</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_country_new')}}">
                <i class="bi bi-circle"></i><span>Ajouter un pays</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_country_index')}}">
                <i class="bi bi-circle"></i><span>Consultation des pays</span>
              </a>
            </li>
          </ul>
        </li><!-- End siteCollection Nav -->
        
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-bar-chart"></i><span>Gestion des collectées</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_counting_campaign_index') }}">
                <i class="bi bi-circle"></i><span>Ajouter des collectes</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_collected_data_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des collectes</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_environmental_conditions_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des conditions d'environnement</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_count_type_index') }}">
                <i class="bi bi-circle"></i><span>Type de comptage</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_quality_index') }}">
                <i class="bi bi-circle"></i><span>Qualité</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_method_index') }}">
                <i class="bi bi-circle"></i><span>Méthode</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_disturbed_index') }}">
                <i class="bi bi-circle"></i><span>Disturbé</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_ice_index') }}">
                <i class="bi bi-circle"></i><span>La couverture de glace</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_tidal_index') }}">
                <i class="bi bi-circle"></i><span>Marée</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_water_index') }}">
                <i class="bi bi-circle"></i><span>Etat des eaux</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_weather_index') }}">
                <i class="bi bi-circle"></i><span>Condition météorologique</span>
              </a>
            </li>
          </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-people"></i><span>Utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_agents_group_new') }}">
                <i class="bi bi-circle"></i><span>Créer un groupe</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_agents_group_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des groupes</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_profile') }}">
                <i class="bi bi-circle"></i><span>Consultation des utilisateurs</span>
              </a>
            </li>
          </ul>
        </li><!-- End users Nav -->

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#parameters-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-gear"></i><span>Paramètres</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="parameters-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ path('app_logo_new') }}">
                <i class="bi bi-circle"></i><span>Ajouter le logo</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_logo_index') }}">
                <i class="bi bi-circle"></i><span>Consulter le logo</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_image_index') }}">
                <i class="bi bi-circle"></i><span>Consultation des images</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_campaign_status_index') }}">
                <i class="bi bi-circle"></i><span>Statuts des campagnes</span>
              </a>
            </li>
          </ul>
        </li><!-- End parameters Nav -->
        {% endif %}

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('app_profile_edit', {'id': app.user.id}) }}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li><!-- End Profile Page Nav -->
      {% endif %}

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-envelope"></i>
            <span>Contact</span>
          </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('app_register') }}">
            <i class="bi bi-card-list"></i>
            <span>Inscription</span>
          </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('app_login') }}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Connexion</span>
          </a>
        </li><!-- End Login Page Nav -->

      </ul>

    </aside><!-- End Sidebar-->
      {% block body %}{% endblock %}
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        {# &copy; Copyright <strong><span>GCCO</span></strong>. All Rights Reserved  #}
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="{{ asset('./js/sweetalert2.all.js') }}"></script>

  </body>

</html>