{% extends 'base.html.twig' %}

{% block title %}CountType{% endblock %}

{% block body %}
    <h1>CountType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ count_type.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ count_type.label }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ count_type.createdAt ? count_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ count_type.updatedAt ? count_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_count_type_index') }}">back to list</a>

    <a href="{{ path('app_count_type_edit', {'id': count_type.id}) }}">edit</a>

    {{ include('count_type/_delete_form.html.twig') }}
{% endblock %}
