{% extends 'base.html.twig' %}

{% block title %}Logo{% endblock %}

{% block body %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Consultation de logo</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion du logo</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                    <div class="card">
                        <div class="card-header">
                            Logo
                        </div>

                        <div class="card-body">
                            <div>
                                {% for logo in logos %}
                                    {% if logo.image and logo.image.imageFilename %}
                                        <turbo-frame id="logo_{{ logo.id }}">
                                            <img src="{{ vich_uploader_asset(logo.image, 'imageFile') }}" alt="logo" class="imgLogoShow rounded mx-auto d-block">
                                            <a href="{{ path('app_logo_edit', {'id': logo.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-2"> Modifier</a>
                                        </turbo-frame>
                                    {% else %}
                                        <p>Aucune image disponible</p>
                                    {% endif %}

                                {% else %}
                                    <p>Logo manquant</p>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path('app_logo_index') }}" class="btn btn-sm btn-outline-secondary" title="Retour vers consultation du logo">Retour</a>
                                    <a href="{{ path('app_counting_campaign_index') }}" class="btn btn-outline-info btn-sm bi bi-list mx-1"> Consultation des campagnes</a>
                                    {{ include('logo/_delete_form.html.twig') }}
                                </div>
                                <a href="{{ path('home') }}" class="btn btn-light btn-sm ri-home-4-line mx-1"> Page d'accueil</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}
