{% extends 'base.html.twig' %}

{% block title %}Modifier la région {% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Modifier la région</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_region_index') }}">Gestion des régions</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Les nouvelles informations sur la région</h5>

              {{ include('region/_form.html.twig') }}

            </div>
            <div class="card-footer d-flex justify-content-between">
              <div>
                <a href="{{ path('app_region_index') }}" class="btn btn-sm btn-outline-secondary mx-1" title="Retour vers la consultation des régions">Retour</a>
              </div>
              <div class="d-flex justify-content-end">
                {% import 'macros/btn_actions_macros.html.twig' as macros %}
                {{ macros.action_buttons('app_region_new','app_region_show', 'app_region_edit', 'region/_delete_form.html.twig', region, app.request.attributes.get('_route'), false) }}
                {{ include('region/_delete_form.html.twig') }}
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
