{% extends 'base.html.twig' %}

{% block title %}Groupes des agents{% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Groupes des agents</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item active">Gestion des groupes</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listes</h5>
             <div id="printableArea">
              <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom du groupe</th>
                            <th>Membres du groupe</th>
                            <th>Chef du groupe</th>
                            <th>Créé le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for agents_group in agents_groups %}
                        <tr>
                            <td>{{ agents_group.id }}</td>
                            <td>{{ agents_group.groupName }}</td>
                            <td>
                                <ol>
                                    {% set sorted_group = agents_group.groupMember|sort((a, b) => a.name <=> b.name) %}
                                        {% for member in sorted_group %}
                                            <li>
                                                {{ member.name }} {{ member.lastName }}
                                            </li>
                                        {% else %}
                                            <p colspan="7">Aucune enregistrement trouvé</p>
                                    {% endfor %}
                                </ol>
                            </td>
                            <td>{{ agents_group.leader.name }} {{ agents_group.leader.lastName }}</td>
                            <td>{{ agents_group.createdAt ? agents_group.createdAt|date('d-m-Y') : '' }}</td>
                            <td>
                                <div class="d-flex justtify-content-end">
                                    <a href="{{ path('app_agents_group_show', {'id': agents_group.id}) }}" class="btn-action btn btn-outline-success btn-sm bi bi-card-text mx-1"> Détail</a>
                                    <a href="{{ path('app_agents_group_edit', {'id': agents_group.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-1"> Modifier</a>
                                    {{ include('agents_group/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              <!-- End Table with stripped rows -->    
             </div>          
              
            </div>
            <div class="card-footer">
              <a href="{{ path('app_agents_group_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted">
                Créer nouveau groupe
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <div class="alert border-light alert-dismissible fade show" role="alert">
      <!-- Card with header and footer -->
      <div class="card">
        <div class="card-footer">
          <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
          <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div><!-- End Card with header and footer -->
    </div>

  </main><!-- End #main -->
{% endblock %}
