{% extends 'base.html.twig' %}

{% block title %}Groupe d'agents{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Détail d'un groupe d'agents</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_agents_group_index') }}">Gestion des groupes</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                     <div id="printableArea">
                        <h5 class="card-title">
                            Détail
                        </h5>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nom du groupe</th>
                                    <td>{{ agents_group.groupName }}</td>
                                </tr>
                                <tr>
                                    <th>Pays</th>
                                    <td>{{ agents_group.country.name }}</td>
                                </tr>
                                <tr>
                                    <th>Membres du groupe</th>
                                    <td>
                                        <ol>
                                            {% set sorted_group = agents_group.groupMember|sort((a, b) => a.name <=> b.name) %}

                                            {% for member in sorted_group %}
                                                <li>
                                                    {{ member.name }} {{ member.lastName }}
                                                </li>
                                            {% else %}
                                                <p colspan="7">Aucune enregistrement trouvé</p>
                                            {% endfor %}
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Chef du groupe</th>
                                    <td>
                                        {{ agents_group.leader.name }} {{ agents_group.leader.lastName }} <h6>({{ agents_group.leader.email }})</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Créé le</th>
                                    <td>{{ agents_group.createdAt ? agents_group.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Dernière mise à jour le</th>
                                    <td>{{ agents_group.updatedAt ? agents_group.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                     </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justtify-content-end">
                                <a href="{{ path('app_agents_group_index') }}" class="btn btn-offline-light btn-sm bi bi-arrow-return-left mx-1"> retour vers la liste</a>
                                <a href="{{ path('app_agents_group_new') }}" class="btn btn-outline-info btn-sm bi bi-plus-circle-dotted mx-1"> Créer groupe d'agents</a>
                                <a href="{{ path('app_agents_group_edit', {'id': agents_group.id}) }}" class="btn-action bi bi-pencil-square btn btn-outline-primary btn-sm mx-1"> Modifier</a>
                                {{ include('agents_group/_delete_form.html.twig') }}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="alert border-light alert-dismissible fade show" role="alert">
      <!-- Card with header and footer -->
      <div class="card">
        <div class="card-footer">
          <button id="printButton" class="btn btn-light bi bi-printer"> Imprimer</button> 
          <button type="button" class="btn btn-light"><i class="bi bi-folder"> </i>Exporter en CSV</button>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div><!-- End Card with header and footer -->
    </div>
</main>
{% endblock %}
