{% extends 'base.html.twig' %}

{% block title %}Method{% endblock %}

{% block body %}
    <h1>Method</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ method.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ method.label }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ method.createdAt ? method.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ method.updatedAt ? method.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_method_index') }}">back to list</a>

    <a href="{{ path('app_method_edit', {'id': method.id}) }}">edit</a>

    {{ include('method/_delete_form.html.twig') }}
{% endblock %}
