  {{ form_start(form) }}
  
    <div class="row mb-3">
      <div class="col-sm-3">
        {{ form_label(form.ordre, 'Ordre') }}
      </div>
      <div class="col-sm-8">
        {{ form_widget(form.ordre, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        {{ form_label(form.familyName, 'Nom de famille') }}
      </div>
      <div class="col-sm-8">
        {{ form_widget(form.familyName, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        {{ form_label(form.family, 'Famille') }}
      </div>
      <div class="col-sm-8">
        {{ form_widget(form.family, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        {{ form_label(form.subFamily, 'Sous-famille') }}
      </div>
      <div class="col-sm-8">
        {{ form_widget(form.subFamily, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        {{ form_label(form.tribe, 'Tribu') }}
      </div>
      <div class="col-sm-8">
        {{ form_widget(form.tribe, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <button type="reset" class="btn btn-light bi bi-x-square"> Annuler</button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-outline-primary bi bi-save"> {{ button_label|default('Enregistrer') }}</button>
      </div>
    </div>

  {{ form_end(form) }}
