{% extends 'base.html.twig' %}

{% block title %}Modifier une famille des espèces{% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Modifier cette famille d'espèces</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ri-home-4-line"></i> Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('app_bird_family_index') }}">Gestion des familles</a></li>
          <li class="breadcrumb-item active">Modification</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Les nouveaux informations de la famille</h5>

              {{ include('bird_family/_form.html.twig', {'button_label': ' Mise à jour'}) }}

            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <div>
                  <a href="{{ path('app_bird_family_index') }}" class="btn btn-sm btn-outline-secondary mx-1" title="Retour vers consultation des famille">Retour</a>
                </div>
                <div class="d-flex justify-content-end">
                  {% import 'macros/btn_actions_macros.html.twig' as macros %}
                  {{ macros.action_buttons('app_bird_family_show', 'app_bird_family_edit', 'bird_family/_delete_form.html.twig', bird_family, app.request.attributes.get('_route')) }}
                  {{ include('bird_family/_delete_form.html.twig') }}
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
